.follow-peoples {
  width: 95%;
  padding: 0px 10px;
  background-color: var(--background-dark-secondary);
  border-radius: 14px;
}

.follow-peoples .header-section {
  border: none;
}

.follow-peoples .body-section {
  max-height: 77.2vh;
  overflow-y: auto;
}

.follow-peoples .footer-section {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 0;
  border-top: 1px solid var(--border-dark);
}

.follow-peoples .footer-section .show-more {
  color: #fff;
}
