.display-linebreak {
  white-space: pre-line;
}

.container-tweet {
  border: 1px solid #253341;
  padding: 10px;
  display: flex;
  color: #fff;
  justify-content: space-between;
  padding: 20px;
}

.container-tweet .image-user img {
  width: 55px;
  margin-top: 5px;
}

.container-tweet .content-tweet {
  width: 30%;
}

.user-info {
  display: flex;
}

.container-tweet .user-info .name {
  font-weight: bold;
}

.container-tweet .user-info .last-info {
  color: #586774;
  margin-left: 5px;
}

.container-tweet .user-info .separator {
  overflow-wrap: break-word;
  line-height: 1.3125;
  word-wrap: break-word;
}

.tweet_post {
  word-break: break-all;
}

.content-actions {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: center;
}

.content-actions div {
  width: 100%;
}

.icon-actions {
  color: #888;
  font-size: 16px;
}

.count-actions {
  color: #888;
  margin-left: 5px;
  font-size: 13px;
}

.active {
  color: #f72525;
}
